:root{
	--yearlycolor1: #E80C94;
	--yearlycolor2: #666666;
}
header{
	text-align: center;
	height: 80px;
	color: var(--yearlycolor2);
	box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.7);
}
html{
	overflow-x:hidden;
	overflow-y:scroll;
}
.content{
	min-height: 1000px;
}
::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-thumb{
	background: var(--yearlycolor1);
	border-radius: 10px;
}
.th{
	float:left;
	margin-top: -5px;
}
.kh{
	float:right;
}
.log{
	font-size: 40px;
	color: var(--yearlycolor2);
}
.meny{
	font-style:bold;
	color: var(--yearlycolor2);
}
.count{
	text-align:center;
	margin-top: 20px;
	color: var(--yearlycolor2);
}
.slide1{
	margin:auto;
	margin-top:30px;
	height: 210px;
	width:350px;
	justify-content:center;
	object-fit:cover;
	overflow:hidden;
}
.slideimg{
	width: 350px;
	height: 210px;
}
.material{
	margin:auto;
	margin-top: 20px;
	text-align:center;
	margin-bottom: 50px;
}
.btn-material{
	background-color: var(--yearlycolor1);
	color: white;
}
.btn-material:hover{
	color: #eeeeee;
	box-shadow: 0px 1px 5px -1px var(--yearlycolor2);
}
.red{
	background-color: red;
}
.startrubrik, .starttext{
	margin-left: 20px;
}
.startrubrik{
	margin-top: 40px;
}
.omtext, .omrubrik{
	
	margin-left: 20px;
}
.omrubrik{
	margin-top: 50px;
}
.mentorer{
	justify-content: flex-start;
	display: flex;
	align-self:auto;
	flex-direction: row;
	flex-flow: row-wrap;
	flex-wrap: wrap;
	margin-left:20px;
	
	align-content: space-around;
	text-align:center;

}
.mentorbild{
	margin-top: 50px;

	width: 200px;
	height: 200px;
	object-fit: cover;
}
.gallerirubrik{
	text-align: center;
	color: var(--yearlycolor2);
	margin-bottom: 20px;
}
.container{
	box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.7);
}
.galleri{
	justify-content: flex-start;
	display: flex;
	align-self:auto;
	flex-direction: row;
	flex-flow: row-wrap;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}
.bg{
	width: 300px;
	height: 200px;
	margin-top: 20px;
}
.galleribild{
	object-fit: cover;
	width:300px;
	height: auto;
	max-height: 200px;
}
.kontakt{
	margin-left: 20px;
	color: var(--yearlycolor2);
}
.karta{
	margin-left:18px;
	margin-top: 20px;
	color: var(--yearlycolor2);
}
.googlemap{
	box-shadow: 0px 1px 3px -1px var(--yearlycolor2);
	margin-bottom: 20px;
}
.between{
	width: 300px;
}
.socmed{
	margin-left: 20px;
	color: var(--yearlycolor2);
}
.facebook{
	box-shadow: 0px 1px 3px -1px var(--yearlycolor2);
}
footer{
	margin-top: 50px;
	text-align:center;
	height: 80px;

	background-color: var(--yearlycolor2);
}
.footertxt{
	padding-top: 30px;
}













.ree{
    font-size: 20px;
    color: var(--yearlycolor2);
  font-weight: 300;
  text-align: center;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.quizbtn{
	margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.quizbtn:hover{
    background-color: #38a;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}