:root{
	--yearlycolor1: #E80C94; /*Huvudfärg för året*/
	--yearlycolor2: #666666; /*Komplementfärg för året*/
}
header{
	text-align: center;
	height: 80px;
	color: var(--yearlycolor2);
	box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.7);
}
/*Scrollfunktion och en font från google*/
html{
	overflow-x:hidden;
	overflow-y:scroll;
	font-family: 'Exo', sans-serif;
}
::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-thumb{
	background: var(--yearlycolor1);
	border-radius: 10px;
}
.th{
	float:left;
	margin-top: -5px;
}
.kh{
	float:right;
}
.log{
	font-size: 40px;
	color: var(--yearlycolor2);
}
.meny{
	font-style:bold;
	color: var(--yearlycolor2);
}
.count{
	text-align:center;
	margin-top: 20px;
	color: var(--yearlycolor2);
}
.slide1{
	margin:auto;
	margin-top:30px;
	height: 210px;
	width:350px;
	justify-content:center;
	object-fit:cover;
	overflow:hidden;
}
.slideimg{
	width: 350px;
	height: 210px;
	object-fit:cover;
}
.material{
	margin:auto;
	margin-top: 20px;
	text-align:center;
	margin-bottom: 50px;
}
.btn-material{
	background-color: var(--yearlycolor1);
	color: white;
}
.btn-material:hover{
	color: #eeeeee;
	box-shadow: 0px 1px 5px -1px var(--yearlycolor2);
}
.red{
	background-color: red;
}
.startrubrik, .starttext, .video{
	margin-left: 20px;
}
.startrubrik{
	margin-top: 40px;
}
.video{
	border: 0;
	height: 200px;
	max-width: 350px;
}
.link{
	color: var(--yearlycolor1);
}
.link:hover{
	color: var(--yearlycolor1);
}
.omtext, .omrubrik{
	
	margin-left: 20px;
}
.omrubrik{
	margin-top: 50px;
}
/*Flexbox*/
.mentorer{
	justify-content: flex-start;
	display: flex;
	align-self:auto;
	flex-direction: row;
	flex-flow: row-wrap;
	flex-wrap: wrap;
	margin-left:20px;
	
	align-content: space-around;
	text-align:center;

}
.mentorbild{
	margin-top: 50px;

	width: 200px;
	height: 200px;
	object-fit: cover;
}
.gallerirubrik{
	text-align: center;
	color: var(--yearlycolor2);
	margin-bottom: 20px;
}
.container{
	box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.7);
}
/*Flexbox*/
.galleri{
	justify-content: flex-start;
	display: flex;
	align-self:auto;
	flex-direction: row;
	flex-flow: row-wrap;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}
.bg{
	width: 300px;
	height: 200px;
	margin-top: 20px;
}
.galleribild{
	object-fit: cover;
	width:300px;
	height: auto;
	max-height: 200px;
}
.tipsrubrik{
	margin-top: 50px;
}
.tipsrubrik, .tipstext{
	margin-left: 20px;
}
.kontakt{
	margin-left: 20px;
	color: var(--yearlycolor2);
}
.karta{
	margin-left:18px;
	margin-top: 20px;
	color: var(--yearlycolor2);
}
.googlemap{
	box-shadow: 0px 1px 3px -1px var(--yearlycolor2);
	margin-bottom: 20px;
	max-width: 350px;
	height: 300px;
	border: 0;
}
.between{
	width: 300px;
}
.socmed{
	margin-left: 20px;
	color: var(--yearlycolor2);
}
.facebook{
	box-shadow: 0px 1px 3px -1px var(--yearlycolor2);
	allowTransparency: true;
	border: 0;
	max-width: 300px;
	height: 500px;
}
footer{
	margin-top: 50px;
	text-align:center;
	height: 80px;

	background-color: var(--yearlycolor2);
}
.footertxt{
	padding-top: 30px;
}













